# See http://help.github.com/ignore-files/ for more about ignoring files.

/Control01/RMarkdown/Control01_cache
/Control01/RMarkdown/Control01_files
/Control01/RMarkdown/Control01.pdf
/Control01/RMarkdown/Control01.log
/Control01/RMarkdown/Control01.html
/Control01/RMarkdown/Control01.txt

.RData

.RHistory